body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/39811104_10216819739231075_6678798901195046912_n\ \(1\).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 30%;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(/proyecto1/fdsw-github/assets/img/R.jpg);
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand {
    width: 100px;
  }

}